.languages {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 100%;
}

.flag {
    width: 64px;
    height: 64px;
}

.navigation {
    position: absolute;
    left: 25%;
    width: 100%;
}

.navbutton {
    width: 64px;
    height: 64px;
}

.screenshot {
    width: 50%;
    height: 50%;
}

.title {
    text-align: center;
    font-size: 200%;
}

#skew-table, #inter-table {
    border: 1px solid black;
}

#skew-table th {
    border: 1px solid black;
    text-align: center;
    padding: 0px 5px;
}

#skew-table td {
    border: 1px solid black;
    padding: 0px 5px;
}

#inter-table th {
    text-align: center;
}

#num_platter_base {
    z-index: 1;
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 6px;
    border-radius: 100%;
    border: 2px dashed black;
}

#p_sample1 {
    top: 213px;
    left: 346px;
}

#p_sample2 {
    top: 341px;
    left: 291px;
}

#p_sample3 {
    top: 405px;
    left: 185px;
}

#p_sample4 {
    top: 162px;
    left: 30px;
}

.p_entry {
    z-index: 2;
    width: 150px;
    height: 32px;
    display: inline-block;
    position: absolute;

    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    font-family: Courier, cursive;
    border: 5px outset darkcyan;
    background-color: darkcyan;
}

#p_table {
    width: 500px;
    height: 300px;
    display: inline-block;
    position: absolute;
    top: 1970px;
    left: 15px;
    padding: 10px;
    color: white;
    font-size: 18px;
    font-family: Courier, cursive;
    border: 10px outset darkcyan;
    background-color: darkcyan;
}

#p_table th {
    border-bottom: 2px dotted whitesmoke;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

#p_table td {
    text-align: center;
    padding: 10px;
}

.p_action_button {
    width: 120px;
    height: 50px;
    text-align: center;
    display: inline-block;
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: Courier, cursive;
    border: 10px outset darkcyan;
    background-color: darkcyan;
}

#p_navl {
    top: 1970px;
    left: 15px;
    cursor: pointer;
}

#p_navr {
    top: 1970px;
    left: 395px;
    opacity: 0.25;
    cursor: default;
}

#p_blast {
    top: 1970px;
    left: 205px;
    cursor: pointer;
}
